<h2>Iniciar Sesión</h2>
<hr>
<form id="loginForm">
  <input type="email" name="email" placeholder="Email" required /><br>
  <input type="password" name="password" placeholder="Contraseña" required /><br>
  <button type="submit">Ingresar</button>
</form>

<div id="loginSuccess" style="display:none; margin-top:20px;">
  ✅ Login exitoso.<br>
  <a href="/session">Acceder a los datos del usuario</a>
</div>

<script src="/js/login.js"></script>
<link rel="stylesheet" href="/css/styles.css">