<h2>Datos del Usuario</h2>
<button id="getUserBtn">Cargar Usuario</button>
<pre id="userInfo"></pre>

<hr>
<button id="logoutBtn">Cerrar Sesión</button>

<link rel="stylesheet" href="/css/styles.css">
<script src="/js/session.js"></script>
